<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="nav">
  <ul>
    <li><a href="#" th:href="@{/admin}">Administrator</a></li>
    <li><a href="#" th:href="@{/submitClaim}">Submit Claim</a></li>
    <li><a href="#" th:href="@{/claimDetail}">Claim Detail</a></li>
    <li><a href="#" th:href="@{/login}">Login</a></li>
    <li><a href="#" th:href="@{/signUp}">Dashboard</a></li>
    <li><a href="#" th:href="@{/index}">Home</a></li>
    <li><a href="#" th:href="@{/claimHistory}">Claim History</a></li>
  </ul>
</nav>
</body>
</html>